.venv/
primero.cache
__pycache__
*.pyc
primero/
primero_api.egg-info/
.pytest_cache/
tmp*/
dist/
dashboards/.DS_Store
.DS_Store
primero-api/integration_env.conf
primero-api/.coverage
build/
# remove all the .egg-info folders
pipelines/magasin-primero/magasin_primero.egg-info/